*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 250px;
    height: 400px;
    perspective: 1000px;

}

.cardInner{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    transform-style: preserve-3d;
    transition: transform 1s;
    

}
.card:hover .cardInner{
    transform: rotateY(180deg);
}




.cardInner .front{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: brown;

}

.cardInner .back{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    transform: rotateY(180deg);

}



