*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    height: 400px;
    width: 300px;
    background-color: blueviolet;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.text{
    height: 200px;
    width: 150px;
    background-color: aquamarine;
    top: 50%;
    left: 50%;
    transform: translateZ(50px) translateX(50%) translateY(50%);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.514);

}
